@{
    ViewData["Title"] = "Authenticate";
}

<a href="https://localhost:5443/authorization?scope=openid role profile uma_authorization uma_protection&state=75BCNvRlEGHpQRCT&redirect_uri=https://localhost:5105/Authenticate/Callback&response_type=id_token token&client_id=e8db4d32-dbd1-4b62-b8c0-62f50e539e21&nonce=nonce&response_mode=query">Connect</a>