@{
    ViewData["Title"] = "Samples";
}

@model MedicalWebsite.ViewModels.SampleViewModel
@using MedicalWebsite.Extensions

@{
    var user = await this.Context.GetAuthenticatedUser(MedicalWebsite.Constants.CookieName);
}

<div>
    @if (user != null && user.Identity != null && user.Identity.IsAuthenticated)
    {
        var userName = user.GetGivenName() ?? "Unknown";
        <h1>Welcome @userName</h1>
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">@Model.Id</h4>
                <p class="card-text"><img src="~/img/viralload.jpg" /></p>
            </div>
         </div>        
    }
</div>