@{
    ViewData["Title"] = "Samples";
}

@model MedicalWebsite.ViewModels.SampleViewModel
@using MedicalWebsite.Extensions

@{
    var user = await this.Context.GetAuthenticatedUser(MedicalWebsite.Constants.CookieName);
}

<div>
    @if (user != null && user.Identity != null && user.Identity.IsAuthenticated)
    {
        var userName = user.GetGivenName() ?? "Unknown";
        <h1>Welcome @userName</h1>
        <div class="card">
            <div class="card-header">
                Sample : @Model.Id
            </div>
            <div class="card-block">
                <img src="~/img/viralload.jpg" />
            </div>
        </div>        
    }
</div>